.avatar-container {
  border-radius: 2px !important;
}
.popup-menu ul {
  background: rgb(35, 35, 35) !important;
  border: 1px solid white;
}
.popup-menu ul li a {
  color: white !important;
}
.popup-menu a:hover {
  background: black !important;
}
.popup-menu.postpage-share {
  top: 43px;
  left: 164px;
}
